<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="VisGit.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<VisGit.Core.Properties.Settings>
			<setting name="PersonalAccessTokenEncrypted" serializeAs="String">
				<value>{Not Set}</value>
			</setting>
			<setting name="TestSetting" serializeAs="String">
				<value>{Not Set}</value>
			</setting>
		</VisGit.Core.Properties.Settings>
	</userSettings>
</configuration>